body {
  width: 100%;
  height: 100vh;
  margin: 0;

  font-family: 'Open Sans Light', sans-serif;
}

.container {
  width: 70%;
  height: 70vh;
  margin: 15vh 15% 15vh 15%;

  text-align: left;

  display: inline-block;
}

table {
  width: 100%;
  table-layout: fixed;
}

.row {
  margin-top: 10px;
}

.row__item {
  text-overflow: '...';
  overflow: hidden;
  white-space: nowrap;
}
