<footer>
  <div class="footer">
    <h1 class="footer__title">Launchpad</h1>
  </div>
</footer>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP3DhZbYGHFFWcTjedVNy_zRWAXnvESbY"></script>
</body>

</html>