<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Launchpad</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div class="navbar">
      <div class="header-decoration">
        <a href="/" class="header-decoration__anchor">
          <svg class="header-decoration__symbol symbol-width-60">
            <g>
              <circle cx="0" cy="30" r="3" stroke="#e2e1e1" fill="#e2e1e1"></circle>
              <circle cx="-40" cy="30" r="90" stroke="#e2e1e1" stroke-width="2" fill="none"></circle>
            </g>
          </svg>
        </a>
      </div>
      <div class="navbar__back" hidden>
        <a href="/" class="navbar__back--button">
          <svg class="back-arrow" transform="rotate(90)">
            <defs>
              <linearGradient id="grad-back" x1="100%" y1="0%" x2="0%" y2="0%" spreadMethod="pad">
                <stop offset="0%" stop-color="#af5300" stop-opacity="1" />
                <stop offset="100%" stop-color="#f5851f" stop-opacity="1" />
              </linearGradient>
            </defs>
            <polygon class="back-arrow__symbol" points="16,6 26,6 26,21 36,21 21,36 6,21 16,21" fill="#b0b1b3" filter="none"></polygon>
          </svg>
        </a>
      </div>
      <div class="navbar__title">
        <a href="/" class="navbar__link">Launchpad</a>
      </div>
      {{!-- <div class="side-decoration"></div> --}}
    </div>
  </header>