body {
  margin: 0;
  font-family: 'Open Sans Light', sans-serif;
  background-color: #b0b1b3;
  /* May need to be moved to a more specific rule */
  /* overflow: hidden; */
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

.navbar {
  background: linear-gradient(90deg, rgba(0,84,152,1) 0%, rgba(0,101,183,1) 100%);
  box-shadow: 0 5px 5px -5px black;
  width: 100%;
  height: 60px;
  /* Relative required for z-index and box shadow of launch-body */
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;

  z-index: 10;
}

.navbar__title {
  position: absolute;
  left: 2%;
  color: #f9f9f9;
  font-size: 24px;
  font-weight: 200;
}

.side-decoration {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, rgba(164,41,37,1) 0%, rgba(255,75,69,1) 100%);
}

.launch-body {
  /* Relative required for z-index and box shadow of launch-body */
  position: relative;
  width: 90%;
  height: 50vh;
  margin: 0 15% 0 5%;
  background-color: #dddbdb;
  box-shadow: 0px 3px 5px #8d8b8b, 
        -3px 3px 5px #8d8b8b, 3px 3px 5px #8d8b8b;
  /* box-shadow: 0px 8px 10px gray, 
        -10px 8px 15px gray, 10px 8px 15px gray; */
  z-index: 0;
}

.upcoming-header {
  width: 100%;
  height: 70px;
  padding-top: 5px;
  background: linear-gradient(90deg, rgba(2,76,135,1) 0%, rgba(0,99,180,1) 100%);
  box-shadow: 0 5px 5px -5px black;
  overflow: hidden;
  position: relative;
  z-index: 10;

  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
}

.upcoming-header__launch-name {
  font-weight: 200;
  color: white;
  margin: 3% 0 0 2%;

  grid-column: 1 / 2
}

.upcoming-header__timer {
  font-weight: 100;
  color: white;
  background-color: #0069bf;
  margin: 0;
  padding: 7% 2% 0 2%;
  
  grid-column: 2 / 3;
  
  font-size: 32px;
  text-align: center;
  letter-spacing: 6px;
}

.upcoming-header__date {
  position: absolute;
  top: 0;
  right: 0;

  width: 35%;
  margin: 0 0 0 65%;
  padding-top: 5px;
  color: white;
  background-color: #0071cc;
  
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
}

.upcoming-body {
  height: calc(100% - 70px);
  width: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.upcoming-body__data {
  overflow: scroll;
}

.upcoming-component {
  margin: 1% 3% 0 3%;
}

.upcoming-component__text {
  width: calc(97% - 5px);
  margin: 0 0 0 3%;
  padding: 10px 0 10px 5px;
  background-color: #c7c6c6;
  font-weight: 400;
} 

.upcoming-mission{
  height: 70%;
}

.upcoming-mission__name {
  font-size: 24px;
  font-weight: 400;
  margin: 3px;
}

.upcoming-mission__type {
  font-size: 20px;
  font-weight: 200;
  margin: 3px 3px 10px 3px;
}

.upcoming-mission__desc {
  width: 95%;
  margin: 0;
  padding: 3px;
  
  font-size: 16px;
  font-weight: 200;
}

.upcoming-body__location {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
}

.upcoming-map {
  width: 80%;
  margin: 0 10%;
  position: relative;
  z-index: 0;
}

.livestream-button {
  width: 80%;
  margin: 2% 10%;
  background-color: #0065b7;
  color: white;

  font-size: 24px;
  font-weight: 200;
  transition: 0.2s;
}

.livestream-button:hover {
  background-color: #ff403a;
  /* transition: 0.2s; */
}

.launches {
  width: 90%;
  margin: 3% 0 0 5%;

  display: flex;
  flex-wrap: wrap;
}

.launch {
  position: relative;
  height: 80px;
  width: 100%;
  margin: 1% 0;
  background-color: #dddbdb;
  box-shadow: 3px 3px 3px grey;

  display: grid;
  grid-template-columns: 3fr 2fr 80px;
  grid-template-rows: 60% 40%;
  align-items: center;
}

.launch__text {
  margin: 0;
  width: 97%;

  text-overflow: "...";
  white-space: nowrap;
  overflow: hidden;
}

.launch__top {
  font-size: 26px;
  font-weight: 400;
}

.launch__right {
  margin-right: 3%;
  text-align: right;
}

.launch__bottom {
  font-size: 18px;
  font-weight: 200;
}

.launch__left {
  margin-left: 3%;
}

.launch__name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.launch__date {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.launch__provider {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.launch__location {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.launch__button {
  grid-column: 3 / 4;
  grid-row: 1 / 3;

  height: 100%;
  background-color: #0065b7;

  transition: 0.2s;
}

.right-arrow {
  width: 60%;
  height: 60%;
  margin: 20% 20%;
  transition: 0.2s
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar__title {
    left: 35%;
  }
}