body {
  margin: 0;
  font-family: 'Open Sans Light', sans-serif;
  background-color: #dddbdb;
}

.navbar {
  background-color: #232323;
  width: 100%;
  height: 88px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.hamburger {
  height: 31px;
  width: 35px;
  background-color: #232323;
  border: none;
  margin-left: 5%;
  padding: 0;
}

.hamburger__icon {
  width: 100%;
  height: 100%;
  fill: #f5851f;
}

.navbar__title {
  position: absolute;
  left: 35%;
  color: #f9f9f9;
  font-size: 24px;
  font-weight: 200;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: #232323;
  z-index: 10;

  margin-left: -60%;
  transition-property: margin-left;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.34,1.07,.68,.99);
}

.sidebar--open {
  margin-left: 0;
}

.sidebar__exit {
  position: absolute;
  left: 80%;
  margin-top: 5%;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 30px;
  background-color: #232323;
  color: #f5851f;
  font-weight: 200;
}

.dark-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.40;
  z-index: 1;
}

@keyframes slidein {
  from {
    margin-left:-60%;
  }

  to {
    margin-left: 0;
  }
}